VisiumHD_2um_CRC_multiscale_workflow.ipynb
VisiumHD_2um_make_zarr.ipynb

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Runtime caches/artifacts
.spix_cache/
.numba_cache/
.mplconfig/
